    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

        }
        header{
            background-color: #FED0C9;
            padding: 50px 100px;
        }
         header .logo{
            display: flex;
            align-items: center;
         }
         .logo img{
            width: 70px;
            height: 70px;
         }
         .logo p{
            font-size: 24px;
         }
         header h2{
           font-size: 90px;
           font-weight: 600;
           width: 1100px;
           line-height: 120%;
           margin: 40px 0px;
         }
         header p{
            width: 850px;
            font-size: 40px;
            font-weight: 400;
            line-height: 120%;
         }
         section{
            background:linear-gradient(#A36D55, #A36D55, #C29D8D) ;
            padding: 50px 130px;
         }
         section .sec-img{
            display: flex;
            justify-content: end;
            
         }
         section .border-img{
            height: 351px;
            border: 5px solid white;
            border-radius: 40px;
            background: url(./images/4046cc536643e4ad6dc324f743a44c26729203e7.png)no-repeat;
            opacity: 0.6;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         section .border-img p{
            width: 60%;
            font-size: 40px;
            color: white;
         }
         section .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:80px  50px;
         }
         section main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 160px;
            border-radius: 15px;
            padding-bottom: 10px;
         }
         main img{
            width: 40px;
         }
         main h2{
            margin-bottom: 10px;
         }
         main p{
            width: 75%;
            font-size: 12px;
            text-align: center;
         }
         footer{
            background-color: #7E2C07;
            color: white;
            padding: 50px 100px;
         }
         footer div{
            display: flex;
            gap: 50px;
         }
        footer img{
            width: 200px;
        }
        footer p{
            width: 750px;
            font-size: 25px;
            margin: 40px 0px;
        }